@* <div id="header">
    <a href="#home" target="_top">Home</a>
    <a href="#about" target="_top">About</a>
    <a href="#portfolio" target="_top">Portfolio</a>
    <a href="#technicalskills" target="_top">Technical Skills</a>
    @* <a href="#contact" target="_top">Contact</a>
</div> *@


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse sticky-md-top" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home" target="_top">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about" target="_top">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience" target="_top">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#technicalskills" target="_top">Technical Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#casual" target="_top">Casual</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/consulting">Consulting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/webdesign">Web Design</a>
                </li>
            </ul>
        </div>
    </div>
</nav>