/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

div#main {
  display: flex;
  flex-direction: column;
}

section {
  position: relative;
}

section.dark {
  min-height: 100vh;
  color: white;
  background: rgba(0, 0, 0, 0.25);
}

section.light {
  color: black;
  background: rgba(255, 255, 255, 0.35);
  padding: 8rem 0;
}

/*section img.background {
  width: 100vmax;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  object-fit: cover;
}*/
    section img.background {
        width: 100vmax;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        pointer-events: none;
        object-fit: cover;
        object-position: 0 15%;
    }

    section img.background2 {
        width: 100vmax;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        pointer-events: none;
        object-fit: cover;
        object-position: 0 15%;
        backdrop-filter: blur(50px);
    }
    
    section img.background-music {
        width: 100vmax;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        pointer-events: none;
        object-fit: cover;
        object-position: 0 15%;
        backdrop-filter: blur(5px);
    }

h1 {
  font-weight: 300;
  font-family: "Cormorant Garamond", serif;
  font-size: 7rem;
  margin: 0;
}

@media screen and (max-width: 300px) {
  h1 {
    font-weight: 300;
    font-family: "Cormorant Garamond", serif;
    font-size: 3rem;
    margin: 0;
  }
}

@media screen and (min-width: 301px) and (max-width: 360px) {
  h1 {
    font-weight: 300;
    font-family: "Cormorant Garamond", serif;
    font-size: 4rem;
    margin: 0;
  }
}

@media screen and (min-width: 361px) and (max-width: 420px) {
  h1 {
    font-weight: 300;
    font-family: "Cormorant Garamond", serif;
    font-size: 5rem;
    margin: 0;
  }
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: 15px;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4e567e;
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
}

@media screen and (max-width: 420px) {
  .portfolio-container {
    flex-direction: column;
  }
}

.portfolio-hero {
  max-width: 40%;
  align-self: center;
}

@media screen and (max-width: 420px) {
  .portfolio-hero {
    max-width: 100%;
    align-self: center;
  }
}

.container {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 330px 300px;
  grid-gap: 20px;
}

@media screen and (max-width: 420px) {
  .container {
    margin: 20px auto;
    display: inline;
    grid-template-columns: 330px 300px;
    grid-gap: 20px;
  }
}

.container .box {
  border-radius: 10px;
  padding: 24px 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid rgb(204, 204, 204);
  text-align: center;
}

img.social-icon {
  width: 30px;
  height: 30px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

@keyframes slideInLeft {
    0% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes unBlur {
    0% {
        filter: blur(50px);
    }
    100% {
        filter: blur(0px);
    }
}

.language-badges {
    text-align: center;
    align-content: center;
}

.tech-badges {
    text-align: center;
    align-content: center;
}

.custom-card {
    position: relative; /* Important for backdrop-filter to work correctly */
    width: 100%;
    min-height: 250px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 45px;
    margin: 10px 10px;

    /* Glassmorphism properties */
    background: rgba(250, 250, 250, 0.5); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    border-radius: 5px; /* Rounded corners */
    transition: background 0.4s ease-in-out;
}

.custom-card2 {
    position: relative; /* Important for backdrop-filter to work correctly */
    width: 70vw;
    min-height: 250px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 45px;
    margin: 10px 10px;

    /* Glassmorphism properties */
    background: rgba(250, 250, 250, 0.5); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    border-radius: 5px; /* Rounded corners */
    transition: background 0.4s ease-in-out;
}

.custom-card3 {
    background-image: linear-gradient(90deg, rgba(250,250,250,0.4), rgba(50,50,50,0.9));
    width: 65%;
    padding: 4rem;
    margin: 3rem auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

    .custom-card3:hover {
        box-shadow: rgba(0, 0, 0, 1,0.35) 0px 54px 55px, rgba(0, 0, 10, 0.22) 0px -12px 30px, rgba(0, 0, 50, 0.22) 0px 4px 6px, rgba(0, 0, 10, 0.27) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-color: rgba(250,250,255,0.85);
    }

.glassy-background {

}

.custom-card:hover {
    background: rgba(250, 250, 250, 0.85); /* Semi-transparent white background */
}

.custom-portfolio__container {
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    /*background-color: aquamarine*/
}


.bounceIn {
    opacity: 0;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-name: bounceIn;
    animation-fill-mode: forwards;
}

.bounceOut {
    animation-duration: 0.5s;
    animation-name: bounceOut;
    animation-fill-mode: forwards;
}

.backInDown {
    opacity: 0;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-name: backInDown;
    animation-fill-mode: forwards;
}

.backOutDown {
    animation-duration: 0.5s;
    animation-name: backOutDown;
    animation-fill-mode: forwards;
}

.rotateIn {
    opacity: 0;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-name: rotateIn;
    animation-fill-mode: forwards;
}

.rotateOut {
    animation-duration: 0.5s;
    animation-name: rotateOut;
    animation-fill-mode: forwards;
}

.custom-chip {
    padding: 10px;
    margin: 10px;
    background-color: rgba(100,100,100,0.3);
    border-radius: 16px;
    box-shadow: 3px 3px 3px 3px rgba(231, 238, 245, 0.4); /* Soft shadow */
    transition: background-color 0.4s ease-in-out;
}

    .custom-chip:hover {
        /*background-color: rgba(10,10,10,0.8);*/
        background-color: rgba(100,100,100,0.7);
        box-shadow: 3px 3px 3px 3px rgba(231, 238, 215, 0.5); /* Soft shadow */
    }

.custom-carousel {
    height: 350px;
    width: 800px;
    /*background-color: rgba(250,250,250,0.7);*/
    box-shadow: 4px 4px 10px rgba(31, 38, 65, 0.2); /* Soft shadow */
    transition: box-shadow 0.4s ease-in-out;
}

    .custom-carousel:hover {
        /*background-color: rgba(240,240,240,0.7);*/
        box-shadow: 4px 8px 32px rgba(31, 38, 115, 0.4); /* Soft shadow */
    }

.art-deco {
    box-shadow: 4px 4px 10px rgba(31, 38, 65, 0.9); /* Soft shadow */
    /*backdrop-filter: blur(1px);*/
    /*filter: blur(1px);*/
}

.art-deco:hover {
    backdrop-filter: contrast(10px);
    /*background-blend-mode:color-burn;*/
}

.better-than-tv {
    background-image: src("../images/dougRosenbergBetterThanTv.jpg");
    background-repeat: repeat;
}


/*body {
    margin: 0;
    height: 100vh;
    background: url('your-album-cover.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}*/

.background-overlay {
    /*position: absolute;
    top: 0;
    left: 0;*/
    /*width: 100%;*/
    /*height: 1000px;*/
    background: linear-gradient(135deg, rgba(50, 0, 80, 0.3), rgba(0, 0, 50, 0.3));
    animation: moveGradient 30s ease-in-out infinite;
    mix-blend-mode: overlay;
    backdrop-filter: blur(2px);
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
        opacity: 0.3;
    }

    50% {
        background-position: 100% 50%;
        opacity: 0.5;
    }

    100% {
        background-position: 0% 50%;
        opacity: 0.3;
    }
}

.teal-backdrop {
    background-image: src("../images/tealRectangle.png");
    background-repeat: 
}